<%= form_for @user do |f|  %>

<% if errors.any? %>

  <ul>
    <% @user.errors.full_messages.each do |message| %>
    <li> <%= message %> </li>
    <% end %>
  </ul>

  <% end %>

  <%= f.label :first_name %>
  <%= f.text_field :first_name %>

  <%= f.label :last_name %>
  <%= f.text_field :last_name %>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :trips %>
  <%= f.text_field :trips %>

  <%= f.submit %> <button type = "button"> <%= link_to "Cancel", users_path %></button>

  <% end %>
  
